body{
    margin: 10;
    font-family :Arial, Helvetica, sans-serif ;
    min-width: 445px;

}
#img{
    border: 3px solid black;
    display: inline-block;
}
button{
    border: none;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px ;
    padding-right: 24px;
    font-weight: bold;
    color: azure;
    margin-top: 5px;

}



#input-el {
    border-radius: 5px;
    border: 3px solid black;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

}


ul {
    list-style:none;
    padding-left: 5px;
}

li {
    margin-top: 5px;
}

li a {
    color: black;
    font-weight: bold;
}

