body{
    margin: 10;
    font-family :Arial, Helvetica, sans-serif ;
    min-width: 400px;

}


button{
    border: none;
    background-color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px ;
    padding-right: 20px;

}

#input-btn {
    font-weight: bold;
    color: azure;
    margin-top: 5px;
    
}

#input-el {
    border-radius: 5px;
    border: 3px solid green;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

}


ul {
    list-style:none;
    padding-left: 5px;
}

li {
    margin-top: 5px;
}

li a {
    color: green;
}

